* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    background-size: cover;
    background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
}

body, html{
  height: 100%;
}

.bgimg {
    background-image: url('img/Fotos_locaties/Sanne Bas - Curio - Knipplein 11-2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
}

header {
    border-bottom: 1px solid #9500ffae;
    background:#beb0ff;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
   color: #03357c; 
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid #0050ff;
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.6);
    }

    &:hover:after {
        transform: translateX(0);
    }
  }
}

  body{
    font-family: "Lato", sans-serif
}

header{
    border-bottom: 1px solid lightgrey;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 100px;
    height: 200px;
    object-fit: contain;
  }


h1{
    margin-bottom: 5px;
    font-size: 5vmin;
    line-height: 1.1;
    color:#0050ff;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
  }


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo {
    width: 150px;
    height: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1;
}

footer {
    background: #56ddf0;
    text-align: center;
    padding: 20px 0;
}

.shape {
    width: 725px;
    height: 525px;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border: 10px dashed #f9aecd;
}

.image {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
    margin:0 auto;
    align-items: flex-end;
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #fa339c;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: #f9aecd;
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: #014c35;
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: #78034a;
    font-size: 18px;
}
input:checked + .accordion-label {
    background: #f9aecd;
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .left, .right {
    flex: 1;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    border: 1px solid #f9aecd;
    border-radius: 8px;
    box-shadow: 0 4px 6px #fa339c;
    background-color: #f9aecd;
  }
  
  .left p, .right p {
    line-height: 1.6;
    max-width: 500px;
    color:#78034a
  }

  .left h3, .right h3 {
    color:#78034a;
  }
  
  .image1 {
    width: 55%;
    height: auto;
    margin: 0 20px;
    border-radius: 4px;
  }

  .smoelenboek-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .person-card {
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px #f9aecd;
    background-color: #fff;
  }
  
  .person-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .person-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .main p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    color: #333;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 100%) {
    .container {
        flex-direction: column;
    }
}


  
  

